<!-- <div class="jumbotron">
    <h1 class="display-4">Welcome to ADMS!</h1>
    <p class="lead">This is a simple demo unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div> -->

      <h1 class="display-4">Welcome to ADMS!</h1>
      <p>This is a simple demo unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr>
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

      <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Learn More</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button routerLink=".">Link</a>
        </div>

