<!-- <div>
  <app-car-form
    [car_fb]="car_fb">
    <h1>Edit CAR</h1>
    <button type="submit">Edit</button>
  </app-car-form>
</div> -->

<hr>
<h2></h2>
<form [formGroup]="this.carService.form" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="key">
  <div class="form-group">
    <label for="">name</label>
    <input formControlName="name" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.name.errors}">
    <div class="invalid-feedback" *ngIf="submitted && formControls.name.errors">
      <label *ngIf="formControls.name.errors.required">This filed is required.</label>
      <label *ngIf="formControls.name.errors.minlength">At least 8 chars.</label>
    </div>
  </div>
  <div class="form-group">
    <label for="">email</label>
    <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
    <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
      Email format is required.
    </div>
  </div>
  <div class="form-group">
    <label for="">mobile</label>
    <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}">
    <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
      This filed is required.
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Submit">
  </div>
</form>

<div class="alert alert-info" *ngIf="showSuccessMessage" >
  Submitted successfully.
</div>
