<form *ngIf="sales$ | async as sales" (ngSubmit)="onSubmit(form.value, form.valid)" #form="ngForm" novalidate>
  <div *ngIf="customers$">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">SALES DETAIL</h1>
    </div>
    <p>
      <button (click)="gotoSales(sales)">Back</button>
      <button type="submit" [disabled]="form.invalid">Save</button>
    </p>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Car</th>
            <th>Brand</th>
            <th>Customer Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cust of customers$">
            <td>{{sales.id}}</td>
            <td>{{sales.carName}}</td>
            <td>{{sales.brand}}</td>
            <td>{{cust.firstName}} {{ cust.lastName }}</td>
            <td>{{cust.gender}}</td>
            <td>{{cust.mobile}}</td>
            <td>{{cust.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</form>
