<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <span data-feather="gitlab"></span> ADMS</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars" routerLinkActive="active">
              <span data-feather="shopping-cart"></span>
              Cars
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sales" routerLinkActive="active">
              <span data-feather="bar-chart-2"></span>
              Sales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customers" routerLinkActive="active">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active">
                <span data-feather="user"></span>
                Admin
              </a>
            </li>
        </ul>
      </div>
    </nav> -->




<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon" routerLink="/dashboard" routerLinkActive="active">cloud_queue</mat-icon>
      <span routerLink="/dashboard" routerLinkActive="active" id="title">ADMS </span>
      <span class="example-spacer"></span>
      <span routerLink="/login" routerLinkActive="active">Login</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar color="basic">
      <mat-toolbar-row>
         <span routerLink="/cars" routerLinkActive="active">Cars </span>
        <span routerLink="/customers" routerLinkActive="active">Customers</span>
        <span routerLink="/sales" routerLinkActive="active">Sales</span>
      </mat-toolbar-row>
    </mat-toolbar>

      <router-outlet></router-outlet>
  <!-- </div>
</div> -->
