<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Full Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile*">
          <mat-error *ngIf="service.form.controls['mobile'].errors?.required" >This field is mandatory.</mat-error>
          <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength" >Minimum 8 charactors needed.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="city" matInput placeholder="City">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Department">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let department of departmentService.array">
              <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" [disabled]="service.form.invalid" type="submit">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</form>

<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">CUSTOMER DETAIL</h1>
</div>

<div *ngIf="alerts" class="alert alert-success"  role="alert">
  {{alerts | json}}
</div>

<form *ngIf="customer$ | async as customer" (ngSubmit)="onSubmit(form.value, form.valid)" #form="ngForm" novalidate>

  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label">Customer Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="id" [(ngModel)]="customer.id" placeholder="Enter Customer Id"
        required>
    </div>
  </div>

  <div class="form-group row">
    <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="firstName" [(ngModel)]="customer.firstName" placeholder="Enter First Name"
        required>
    </div>
  </div>

  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="lastName" [(ngModel)]="customer.lastName" placeholder="Enter Last Name"
        required>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">Gender</div>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
       <input class="form-check-input" name="booked" [(ngModel)]="customer.booked" type="checkbox" id="booked">
          <label class="form-check-label" for="booked">
            booked
          </label>
          <label class="radio-inline"><input type="radio" name="optradio">Male</label>
          <label class="radio-inline"><input type="radio" name="optradio">Female</label>

        </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="mobile" [(ngModel)]="customer.mobile" placeholder="Enter Customer mobile"
        required>
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" [(ngModel)]="customer.email" placeholder="Enter Customer Email"
        required>
    </div>
  </div>

  <button class="btn btn-secondary" [routerLink]="['/customers']">Back</button>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form> -->
